{% extends "master.html" %}
{% block content %}
<style>
    #settings-container {
        top: 60px;
        bottom: 0;
        left: 160px;
        right: 10px;
        position: absolute;
    }
</style>
<script>
    function update_mapping(mapping_string) {
        var dict = JSON.parse('{}');
        if ($("#mapping").val() != ""){
            dict = JSON.parse($("#mapping").val());
        }
        var badgeId = "#badge".concat(mapping_string.split("#")[0]);
        $(badgeId).html('<i class="glyphicon glyphicon-ok" style="padding-right:5px;color: rgb(184, 199, 206);"></i>'.concat(mapping_string.split("#")[1].toUpperCase()));
        dict[mapping_string.split("#")[0]] = mapping_string.split("#")[1];
        console.log(mapping_string);
        console.log(dict);
        $("#mapping").val(JSON.stringify(dict));
        console.log($("#mapping").val());
    }
</script>

<div id="settings-container">
    <table id="upload_table"  class="table table-striped table-sm table-bordered" style="width:95%">
        <thead>
            <tr>
                <th>vPrioritizer Field</th>
                <th>File Field</th>
                <th>Row1</th>
                <th>Row2</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td><h5>{{entry.1}}</h5></td>
                <td style="white-space:nowrap">
                    <span class="dropdown" style="float:left">
                        <span class="badge" id="badge{{entry.1}}" style="background:#3971ac;padding:6px"><i class="glyphicon glyphicon-ok" style="padding-right:5px;color: rgb(184, 199, 206);"></i>{{entry.0}}</span>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 3px 6px;background-color: white; color: rgb(46, 109, 164);">Change Mapping
                            <span class="caret" style="margin-left:6px"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="searchform" type="text" style="padding: 10px;margin-top: -6px;border: 0;border-radius: 0;background: #f1f1f1;" placeholder="Search...">
                            {% for column in columns %}
                            <li><a href="javascript:update_mapping('{{entry.1}}#{{column}}')">{{column}}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </td>
                <td>
                    <div style="overflow:auto">
                        <pre style="white-space: pre-wrap;">{{entry.2}}</pre>
                    </div>
                </td>
                <td>
                    <div style="overflow:auto">
                        <pre style="white-space: pre-wrap;">{{entry.3}}</pre>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div id="submit-panel" class="panel" style="background-color:transparent;">
                        <form id="triage-form" action="/vp/{{project_id}}/upload" method="POST">
                            <input type="hidden" id="mapping" name="mapping" value="{}">
                            <input type="hidden" id="temp_db_id" name="temp_db_id" value="{{temp_db_id}}">
                            <input type="hidden" id="scanner", name="scanner", value="{{scanner}}">
                            <button type="submit" class="btn btn-primary" style="color:#FFFFFF;background-color: #264E36;border: none;padding:3px 6px;margin-top:-5px;margin-left:10px;" value="complete" name="complete">
                                <i class="glyphicon glyphicon-ok" style="color:#FFFFFF;padding-right:6px"></i>Complete
                            </button>
                            <button type="submit" class="btn btn-primary" style="color:#FFFFFF;background-color: #9B1B30;border: none;padding:3px 6px;margin-top:-5px;margin-left:10px;" value="cancel" name="cancel">
                                <i class="fa fa-close" style="color:#FFFFFF;padding-right:6px"></i>Cancel
                            </button>
                        </form>
                    </div>
                    <div class="alert alert-info show" style="background-color:#14A2D2">
                        <strong>Help!</strong> Results are not parsed correctly? Please <a href="https://github.com/varchashva/vPrioritizer/issues/new">raise an issue</a> mentioning <strong>headers</strong> of the input file.
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}